<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="app" shutdownHook="disable">

  <Properties>
    <Property name="logPath">${sys:logPath:-logs}</Property>
    <Property name="defaultPattern">%d %p [%t] %C{1.} (%F:%L) - %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${defaultPattern}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="Info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>