<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="app" shutdownHook="disable">
  <Properties>
    <Property name="logPath">${sys:logPath:-logs}</Property>
    <Property name="defaultPattern">%d %p [%t] %C{1.} (%F:%L) - %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${defaultPattern}"/>
    </Console>
    <Console name="SimpleConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p [%t] - %m%n"/>
    </Console>

    <Routing name="Routing" ignoreExceptions="false">
      <Routes pattern="$${ctx:serverId}">
        <Route key="$${ctx:serverId}">
          <RollingRandomAccessFile name="Container" fileName="${logPath}/container.log"
                                   filePattern="${logPath}/container.%i.log">
            <PatternLayout pattern="${defaultPattern}"/>

            <Policies>
              <OnStartupTriggeringPolicy/>
            </Policies>

            <DefaultRolloverStrategy max="7"/>
          </RollingRandomAccessFile>
        </Route>
        <Route>
          <RollingRandomAccessFile name="App-${ctx:serverId}"
                                   fileName="${logPath}/${ctx:serverId}/app.log"
                                   filePattern="${logPath}/${ctx:serverId}/app.%i.log">
            <PatternLayout pattern="${defaultPattern}"/>
            <Policies>
              <OnStartupTriggeringPolicy/>
            </Policies>
          </RollingRandomAccessFile>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>

    <Logger name="application" level="${sys:logging.level.application:-Debug}" additivity="false">
      <AppenderRef ref="SimpleConsole"/>
      <AppenderRef ref="Routing"/>
    </Logger>
    <Logger name="play" level="${sys:logging.level.play:-Debug}"/>
    <Logger name="play.spring" level="Info"/>

    <Root level="{sys:logging.level.root:-Info}">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Routing"/>
    </Root>
  </Loggers>
</Configuration>